
<!-- grafica de los valores frente al tiempo -->
<div class="d-none d-sm-block">
<h1 class="d-flex justify-content-center" style="margin-top: 20px; color: #04B486;"> Gráfica de la presioón sistólica</h1>
</div>
<div class="container" style="height: 400 px; width: 400 px;  margin-top: 20px;">
<canvas id="myChart"></canvas>
</div>

<table class="table" style="margin-top: 20px;">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Valor<th>
      <th scope="col">Fecha</th>
    </tr>
  </thead>
  <tbody>
      {{#each sensores}}
    <tr>
      <td>{{name}}</td>
      <td>{{valor}}</td>
      <td>{{moment date format="YYYY-MM-DD HH:mm:ss"}} </td> <!--{{date}}-->
      
    </tr>
    {{/each}}
  </tbody>
</table>

 <script>
        var ctx= document.getElementById("myChart").getContext("2d");
        var myChart= new Chart(ctx,{
            type:"line",
            data:{
                labels:[
                    {{#each sensores}}
                    {{moment date format="YYYYMMDD"}},
                    {{/each}}
                    ],
                datasets:[{
                        label:"Presión Sistólica",

                        borderColor:"#04B486",
                        fill:false,

                        data:[
                            {{#each sensores}}
                                {{valor}},
                            {{/each}}
                        ]
                }]
            },
            options:{
                scales:{
                    yAxes:[{
                            ticks:{
                                beginAtZero:true
                            }
                    }]
                }
            }
        });
</script>
