
<!--Vista-->
<div class="d-none d-sm-block">
<h1 class="titulo  d-flex justify-content-center" style="margin-top: 20px; color: #04B486;"> Gráfica de la saturación de oxígeno %</h1>
</div>
<div class="container" style="height: 400 px; width: 200 px; margin-top: 20px;">
<canvas id="myChart"></canvas>
</div>

<table class="table" style="margin-top: 20px;">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Valor<th>
      <th scope="col">Fecha</th>
    </tr>
  </thead>
  <tbody>
      {{#each sensores}}
    <tr>
      <td style="text-align: center;">{{name}}</td>
      <td style="text-align: center;">{{valor}}</td>
      <td style="text-align: center;">{{moment date format="YYYY-MM-DD HH:mm:ss"}} </td> 
      
    </tr>
    {{/each}}
  </tbody>
</table>

 <script>
    var ctx= document.getElementById("myChart").getContext("2d");
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [
                {{#each item}}
                    "{{moment date format="YYYY-MM-DDTHH:mm:ssZZ"}}"
                    {{#unless @last}},{{/unless}}
                {{/each}}
            ],
            datasets: [
                {
                label: 'Saturación de oxígeno',
                borderColor: 'rgba(27, 158, 119, 1)',
                backgroundColor: 'rgba(27, 158, 119, 0.03)',
                yAxisID: 'A',
                data: [
                    {{#each item}}
                    {
                        t: "{{moment date format="YYYY-MM-DDTHH:mm:ssZZ"}}",
                        y: {{spo2}}
                    }{{#unless @last}},{{/unless}}
                    {{/each}}
                ]}

            ]
        },
        options: {
            tooltips: {
                mode: 'index',
            },
            legend: {
                position: 'bottom',
            },
            scales: {
                xAxes: [{
                    type: 'time',
                    time: {
                        tooltipFormat: "DD/MM/YYYY HH:mm:ss",
                        displayFormats: {
                            'hour': 'DD MMM HH:mm',
                            'day': 'MMM DD',
                        }
                    },
                    distribution: 'linear',
                    scaleLabel: {
                        display: true,
                        labelString: 'Fecha'
                    }
                }],
                yAxes: [
                
                 {
                    id: 'A',
                    position: 'left',
                    scaleLabel: {
                        display: true,
                        fontColor: 'rgba(27, 158, 119, 1)',
                        labelString: 'Saturación (%)'
                    }
                }
               
                ]
            }
        }
    });
</script>



